<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="d-flex justify-content-center" style="font-size:40px;margin-top:100px;font-family: Papyrus, fantasy">
        <div>The Post Has Been Deleted Successfully!</div>
      </div>
      <button type="login" style="margin-top:40px;margin-left:350px" class="login float-right" (click)="goBackToHomePage()">Posts</button>
    </div>
    <div class="col-md-3">
      <app-side-bar></app-side-bar>
      <app-subreddit-side-bar></app-subreddit-side-bar>
    </div>
  </div>
</div>
